body {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.App {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f8f8f8;

  header {
    display: flex;
    align-items: center;

    .icon-place {
      display: block;
      width: 48px;
      height: 48px;
      background: url('./assets/svg/algorithm-icon.svg') center no-repeat;
      background-size: 100%;
      margin: 0 18px;
    }
  }

  .container {
    display: flex;
    justify-content: center;

    .kmp-container {
      display: inline-block;
      background: #ffffff;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      margin: 12px;
      padding: 32px 12px;
      border-radius: 13px;
      
      form {
        .input-box {
          label {
            display: block;
            margin-left: 12px;
            font-weight: 400;
            color: #c2c2c2;
          }
    
          input {
            border: 1px solid #eeeeee;
            border-radius: 10px;
            padding: 10px 12px;
            margin: 6px 12px 22px;
            font-size: 16px;
            color: #03012b;
            font-weight: bold;
            background-color: #e6e6ff2c;
          }
        }
      }
    
      .button-container {
        padding: 0 12px;

        button {
          width: 100%;
          border: none;
          border-radius: 10px;
          background-color: #0a0a0a;
          padding: 12px;
          color: #f7f7f7;
          box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
          cursor: pointer;
          transition: all .3s ease-in-out;
      
          &:hover {
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
          }
        }
      }

      .result-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 24px 0 0;
        padding: 12px 12px 0;

        p {
          font-size: 22px;
          color: #cecece;
          text-align: center;
          margin-bottom: 12px;
        }

        .result {
          display: inline-block;
          width: fit-content;
          color: #0a0a0a;
          font-weight: bold;
          border-radius: 15px;
          border: 1px solid #0a0a0a;
          margin-bottom: 0;
          padding: 12px 24px;
        }
      }
    }

    .history {
      margin-left: 18px;
    }
  }
}